/* connect fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;

}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;

}

.main-container {
  flex-grow: 1;

}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  height: 70px;
  width: 139px;
  z-index: 1;


}

.page-header {
  padding: 0 70px;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #FFFFFF;

}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 44px;
}

.navigation-user-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  min-width: 312px;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: auto;


}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

}

.navigation-item {
  padding: 20px 16px;
}


.button {
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.navigation-item-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  margin: 14px 0;
}

.navigation-user-link-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  margin: 23.5px 25px 22.5px 0;

}

.navigation-user-link-favourites {
  background-image: url("../images/favourites.svg");
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
  width: 18px;
  height: 17px;
  margin: 24px 33px 23px 0;
}

.icon-button-counter {
  position: relative;
  top: -10px;
  right: -8px;
  min-width: 20px;
  height: 20px;
  padding: 4px 5px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  line-height: 10px;
  font-size: 10px;
}

.main-promo {
  margin-top: -5px;
  min-height: 485px;
  min-width: 1200px;
  background:
    url("../images/welcome-food.svg") no-repeat 0 429px,
    url("../images/index-background.jpg") no-repeat 0;
  background-color: #82B3D3;

}

.main-promo img {
  padding-top: 50px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.advantages {
  background-color: #FFFFFF;
}

.advantages-content {
  padding: 62px 240px 87px 240px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;


}

.advantages-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 64px;

}

.advantages-title-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-text-item {
  color: #333333;
}

.advantages-text-item-white {
  color: #FFFFFF;
}

.advantages-item-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.item-transparent-blue {
  background: rgba(131, 179, 211, 0.12);
}

.privilege-list {
  display: flex;
  min-height: 400px;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.privilege-title-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}

.privilege-text-item {
  color: #333333;
}

.privilege-item {
  padding: 81px 85px;
}

.privilege-item-home::before {
  content: url("../images/home.svg");

}

.privilege-item-food::before {
  content: url("../images/food.svg");


}

.privilege-item-present::before {
  content: url("../images/present.svg");

}

.search {
  padding: 96px 304px;
  background-color: #FFFFFF
}

.search-title,
.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 54px;
  text-align: center;
}

.search-button {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  min-height: 52px;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
}

.social-link-vkontakte {
  background-image: url("../images/social/vk.svg");
  background-repeat: no-repeat;

}

.social-link-telegram {
  background-image: url("../images/social/telegram.svg");
  background-repeat: no-repeat;
}

.social-link-youtube {
  background-image: url("../images/social/youtube.svg");
  background-repeat: no-repeat;
}




/* Catalog */
.main-inner {
  background: #FFFFFF;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding: 0;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 8px;
  text-align: left;

}

.wrapper-inner {
  margin-top: -5px;
  background-color: #81B3D3;
  background: url("../images/main-header.jpg")no-repeat;
  color: #FFFFFF;
  padding: 0 70px;
  margin-bottom: 56.5px;
}


.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-main {
  display: inline-block;
  background: url("../images/breadcrumbs_main.svg") no-repeat;
  width: 12px;
  height: 12px;
  padding-right: 11px;

}

.breadcrumbs-link::before {
  content: url('../images/arrow.svg');
  height: 9.9px;
  width: 6.3px;
  padding-right: 10.8px;
}


.filter {
  display: flex;
  text-align: left;
}

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 32px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  padding-right: 70px;
}

.control-lablel {
  line-height: 23px;
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-filter {
  display: flex;
  padding-bottom: 50px;

}

.filter-item {
  padding-bottom: 16px;
}

.filter-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  padding-left: 70px;
}

.range-input {
  min-width: 130px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  margin-bottom: 36px;


}

.range-input-from {
  margin-right: -7px;
}

.range-input-to {
  border-radius: 0 4px 4px 0;

}

.range-input[type="number"] {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 0 12px 20px;
}

.range-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
  margin-right: -20px;
  position: relative;
  right: -110px;

}

.filter-button {
  display: flex;
  flex-direction: column;
  padding-top: 57px;
  padding-left: 70px;

}

.button-submit,
.button-reset {
  width: 191px;
  background: #82B3D3;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

}

.button-submit {
  margin-bottom: 40px;
}

.button-reset {
  background-color: transparent;
}

.catalog-view {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.select-hotels {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 11px 20px;
}

.section-title {
  margin: 0;
  padding: 0;
}

.button-view-icon {
  width: 16px;
  height: 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;


}

.button-cards {
  background-image: url("../images/cards.svg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;

}

.button-sliders {
  background-image: url("../images/sliders.svg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;


}

.button-lists {
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;

}







.card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000
}

.card-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-rating {
  display: inline;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}



.button-detailed {
  padding: 8px 26px;
  font-weight: 700;
  width: 140px;
}
.button-choose {
  padding: 8px 20px;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
}
.button-active{
  font-weight: 700;
font-size: 16px;
line-height: 20px;
padding: 8px 18px;
background: #7DB54F;
}

.star-four {
  background:
    url("../images/star.svg") no-repeat 0,
    url("../images/star.svg") no-repeat 24px,
    url("../images/star.svg") no-repeat 48px,
    url("../images/star.svg") no-repeat 72px;

}

.star-three {
  background:
    url("../images/star.svg") no-repeat 0,
    url("../images/star.svg") no-repeat 24px,
    url("../images/star.svg") no-repeat 48px;
}

.star-two {
  background:
    url("../images/star.svg") no-repeat 0,
    url("../images/star.svg") no-repeat 24px;
}









.pagination-list {
  display: flex;
  list-style-type: none;
  padding-left: 70px;
  margin-bottom: 60px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  margin-right: 8px;

}

.pagination-link-ellipsis {
  background-color: #FFFFFF;
  color: #000000;

}

.pagination-link-active {
  background: #F2F2F2;
  color: #000000;
}

.subscribe {
  background: #82B3D3 url("../images/subscribe.jpg") no-repeat;
  color: #FFFFFF;
  background-size: cover;
  padding: 94px 200px;
}

.subscribe-catalog {
  background-color: #FFFFFF;
  background-image: none;

}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
  padding: 0 162px;
}


.subscribe-title-catalog {
  color: #000000;
}

.subscribe-text-catalog {
  color: #333333;
}

.input-field {
  background-color: #F2F2F2;
  width: 452px;
  min-height: 52px;
  border-radius: 4px 0 0 4px;
  border: none;
  font-weight: 400;
}

.input-field::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  padding-left: 20px;
}

.subscribe-form {
  display: flex;
  min-height: 52px;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  align-items: center;
  padding: 8px 50px;
  background: #82B3D3;
  min-height: 52px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;


}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 25px 81px;
  background-color: #FFFFFF;

}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 13px;
}

.footer-social-item {
  display: inline-flex;

}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
