/* connect fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;

}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;


}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 439px;
}

.navigation-user-list {
  margin: 0;
  padding: 0;
  width: 312px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* .logo {

  position: relative;
  z-index: 1;
  margin-bottom: -10px;

} */

/* Buttons */
.button {
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-item-button {
  width: 160px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  padding: 8px 50px;
}

.navigation-user-link-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;

}

.navigation-user-link-favourites {
  background-image: url("../images/favourites.svg");
  background-repeat: no-repeat;
}

.navigation-item-button {
  width: 160px;
  height: 36px
}

.main-promo {
  min-height: 485px;
  background: #82B3D3;
  background-image: url("../images/welcome-food.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat no-repeat;
}

.advantages-list {
  margin: 0;
  padding: 0;

}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-title-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-text-item {
  color: #333333;
}

.advantages-text-item-white {
  color: #FFFFFF;
}

.advantages-item-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-transparent-blue {
  background: rgba(131, 179, 211, 0.12);
}


.privilege-title-item-home,
.privilege-title-item-food,
.privilege-title-item-present {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.privilege-text-item {
  color: #333333;
}

.privilege-item-home {
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
}

.privilege-item-food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;

}

.privilege-item-present {
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
}

.search-title,
.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  align-items: center;
  padding: 8px 50px;
  width: 376px;
  height: 52px;
}

.subscribe {
  background: #82B3D3 url("../images/subscribe.jpg") no-repeat;
  color: #FFFFFF;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  align-items: center;
  padding: 8px 50px;
  background: #82B3D3;
  height: 52px;
  border: 1px solid #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

}

.input-field {
  background-color: #F2F2F2;
}


.social-link-vkontakte {
  background-image: url("../images/social/vk.svg");
  background-repeat: no-repeat;
}

.social-link-telegram {
  background-image: url("../images/social/telegram.svg");
  background-repeat: no-repeat;
}

.social-link-youtube {
  background-image: url("../images/social/youtube.svg");
  background-repeat: no-repeat;
}


.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* Catalog */

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.wrapper-inner {
  background: #82B3D3 url("../images/main-header.jpg") no-repeat;
  color: #FFFFFF;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item-main {
  background: url("../images/breadcrumbs_main.svg") no-repeat;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000
}

.card-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.button-cards {
  background-image: url("../images/cards.svg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;

}

.button-sliders {
  background-image: url("../images/sliders.svg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;


}

.button-lists {
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;

}

.subscribe-catalog {
  background-color: #FFFFFF;

}

.subscribe-title-catalog {
  color: #000000;
}

.subscribe-text-catalog {
  color: #333333;
}

.star-four {
  background:
    url("../images/star.svg") no-repeat 0,
    url("../images/star.svg") no-repeat 26px,
    url("../images/star.svg") no-repeat 52px,
    url("../images/star.svg") no-repeat 78px;

}

.star-three {
  background:
    url("../images/star.svg") no-repeat 0,
    url("../images/star.svg") no-repeat 26px,
    url("../images/star.svg") no-repeat 52px;
}

.star-two {
  background:
    url("../images/star.svg") no-repeat 0,
    url("../images/star.svg") no-repeat 26px;
}


.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;

}

.pagination-link-ellipsis {
  background-color: #FFFFFF;
  color: #000000;

}

.pagination-link-active {
  background: #F2F2F2;
  color: #000000;
}
