/* connect fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;

}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;

}

.main-container {
  flex-grow: 1;

}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  height: 70px;
  width: 139px;
  z-index: 1;
  margin-bottom: -5px;
  padding-right: 18px;


}

.page-header {
  padding: 0 70px;
  background-color: #FFFFFF;
}

.navigation {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  min-height: 65px;

}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
}

.navigation-user-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  min-width: 312px;
  flex-wrap: wrap;
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

}

.navigation-link-active {
  text-decoration: underline;
  text-underline-offset: 24px;
  text-decoration-thickness: 2px;
  text-decoration-color: #756257;
}

.navigation-item {
  padding: 20px 16px;
}

.button {

  font-family: inherit;
  display: inline-block;
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.navigation-item-button {
  display: block;
  padding: 8px 34px;
  margin: 14px 0;
}

.navigation-user-link-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  margin: 23px 25px 23px 0;

}

.navigation-user-link-favourites {
  background-image: url("../images/favourites.svg");
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
  width: 18px;
  height: 17px;
  margin: 23px 33px 23px 0;
}

.icon-button-counter {
  position: relative;
  top: -10px;
  right: -8px;
  min-width: 20px;
  height: 20px;
  padding: 4px 5px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  line-height: 10px;
  font-size: 10px;
}

.main-promo {
  min-height: 485px;
  min-width: 1200px;
  background:
    url("../images/welcome-food.svg") no-repeat 0 429px,
    url("../images/index-background.jpg") no-repeat 0;
  background-color: #82B3D3;

}

.main-promo img {
  padding-top: 50px;
  text-align: center;

}


.advantages {
  background-color: #FFFFFF;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: minmax(385px, auto);
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 64px;
}

.advantages-image {
  height: 100%;
}

.item-blue-first {
  grid-column: 1 / -1;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.item-transparent-blue {
  background: rgba(131, 179, 211, 0.12);
}

.item-transparent-blue-left {
  grid-column: 1 / 2;

}

.advantages-item-light-blue {
  grid-column: 2 / 3;
  background-color: rgba(131, 179, 211, 0.2);

}

.item-transparent-blue-right {
  grid-column: 3 / 4;


}

.item-blue-last {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-blue {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.wrapper-blue-last {
  grid-column: 3 / 4;
  padding: 102px 85px;
}

.advantages-item {
  padding: 102px 85px;

}

.item-blue-first,
.item-blue-last {
  padding: 0;
}

.wrapper-blue-first,
.wrapper-blue-last {
  padding: 102px 85px;
}

.advantages-content {
  padding: 69px 274px;
}

.advantages-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;


}

.advantages-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 64px;

}

.advantages-title-item {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title-item::after {
  content: ' ';
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  margin: 30px auto;
}

.advantages-title-item-white::after {
  background-color: #FFFFFF;
}

.advantages-block {
  padding: 0 274px;
}

.advantages-text-item {
  margin: 0;
  color: #333333;
}


.advantages-text-item-white {
  color: #FFFFFF;
}

.privilege-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 400px;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.privilege-title-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}

.privilege-text-item {
  color: #333333;
}

.privilege-item {
  padding: 81px 85px;
}

.privilege-item-home::before {
  content: url("../images/home.svg");

}

.privilege-item-food::before {
  content: url("../images/food.svg");


}

.privilege-item-present::before {
  content: url("../images/present.svg");

}

.search {
  padding: 96px 304px;
  background-color: #FFFFFF
}

.search-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.search-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 54px;
  text-align: center;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  width: 276px;
  padding: 8px 50px;
}




/* Catalog */
.main-inner {
  background: #FFFFFF;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding: 0;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 8px;
  text-align: left;

}

.wrapper-inner {
  background-color: #81B3D3;
  background: url("../images/main-header.jpg")no-repeat;
  color: #FFFFFF;
  padding: 0 70px;
  margin-bottom: 50px;
}


.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-main {
  display: inline-block;
  background: url("../images/breadcrumbs_main.svg") no-repeat;
  width: 12px;
  height: 12px;

}

.breadcrumbs-link {
  padding-left: 11px;
}

.breadcrumbs-link::before {
  content: url('../images/arrow.svg');
  height: 10px;
  width: 6px;
  padding-right: 11px;

}


.filter {
  display: flex;
  text-align: left;
}

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 32px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;

}


.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 50px;

}

.filter-item {
  padding-bottom: 16px;
}

.filter-fieldset {
  border: 0;
  margin: 0;
  padding: 0;

}

.range-input {
  min-width: 143px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.range-input-from {
  margin-right: -2px;

}

.range-input-to {
  border-radius: 0 4px 4px 0;


}

.range-input[type="number"] {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 0 12px 20px;
}

.range-field {
  display: inline-block;
  position: relative;
}

.range-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  right: 22px;
}

.slider {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 36px;
}

.slider-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #ffffff;
  margin-right: 60px;
}

.slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}


.filter-button {
  flex-basis: 191px;
  align-self: flex-start;
  padding-top: 55px;
}

.button-submit {
  background: #82B3D3;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.button-reset {
  background-color: transparent;
  padding: 8px 50px;

}


.catalog-view {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  margin-bottom: 40px;
}

.select-hotels {

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #333333;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 11px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../images/select.svg');
  background-repeat: no-repeat;
  background-position: 258px 20px;
}

.section-title {
  margin: 0;
  padding: 0;
}

.button-view-icon {
  width: 48px;
  height: 48px;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;


}

.button-cards {
  background-image: url("../images/cards.svg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;

}

.button-sliders {
  background-image: url("../images/sliders.svg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;


}

.button-lists {
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;

}



.list-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  padding: 0 70px;
  margin-bottom: 80px;
}


.card {
  display: grid;
  grid-template-columns: 140px 20px 140px;
  grid-template-areas:
    "image image image"
    "title title title"
    "description description description"
    "button-detailed . button-choose"
    "star rating rating";
  row-gap: 16px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000
}

.card-img {
  display: block;
  grid-area: image;
  max-width: 300px;
}

.card-title {
  grid-area: title;
  text-align: left;
  padding: 0;
  margin: 0;
}


.card-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  grid-area: description;
}

.card-description-title {
  text-align: left;
}

.card-description-price {
  text-align: right;
}

.card-rating {
  margin: 0;
  grid-area: rating;
  display: inline;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  padding: 9px 0;
  margin-left: auto;
}



.button-detailed {
  font-family: inherit;
  grid-area: button-detailed;
  width: 140px;
  padding: 8px 0;

}

.button-choose {
  font-family: inherit;
  grid-area: button-choose;
  background-color: #82B3D3;
  width: 140px;

}

.button-active {
  background: #7DB54F;
}

.star {
  grid-area: star;
}

.star-four {
  background:
    url("../images/star.svg") no-repeat 0,
    url("../images/star.svg") no-repeat 24px,
    url("../images/star.svg") no-repeat 48px,
    url("../images/star.svg") no-repeat 72px;
}

.star-three {
  background:
    url("../images/star.svg") no-repeat 0,
    url("../images/star.svg") no-repeat 24px,
    url("../images/star.svg") no-repeat 48px;
}

.star-two {
  background:
    url("../images/star.svg") no-repeat 0,
    url("../images/star.svg") no-repeat 24px;
}


.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 70px;
  margin-bottom: 60px;
  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;


}

.pagination-link-ellipsis {
  background-color: #FFFFFF;
  color: #000000;

}

.pagination-link-active {
  background: #F2F2F2;
  color: #000000;
}

.subscribe {
  background: #82B3D3 url("../images/subscribe.jpg") no-repeat;
  color: #FFFFFF;
  background-size: cover;
  padding: 96px 258px 104px 258px;
}

.subscribe-catalog {
  background-color: #FFFFFF;
  background-image: none;

}

.subscribe-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.subscribe-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 54px;
}


.subscribe-title-catalog {
  color: #000000;
}

.subscribe-text-catalog {
  color: #333333;

}

.subscribe-form {
  display: flex;
}

.input-field {
  background-color: #F2F2F2;
  width: 390px;
  border-radius: 4px 0 0 4px;
  border: none;
  font-weight: 400;
  padding: 14px 20px 14px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.input-field::placeholder {
  opacity: 0.6;

}


.subscribe-button {
  border-radius: 0 4px 4px 0;
  align-items: center;
  padding: 8px 50px;
  background: #82B3D3;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;


}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
  background-color: #FFFFFF;

}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.social-link {
  display: flex;
  background-position: center;
  width: 40px;
  height: 40px;
}

.social-link-vkontakte {
  background-image: url("../images/social/vk.svg");
  background-repeat: no-repeat;

}

.social-link-telegram {
  background-image: url("../images/social/telegram.svg");
  background-repeat: no-repeat;
}

.social-link-youtube {
  background-image: url("../images/social/youtube.svg");
  background-repeat: no-repeat;
}

.footer-social-item {
  display: inline-flex;

}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
