/* connect fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  height: 70px;
  width: 139px;
  z-index: 1;
  margin-bottom: -5px;
  padding-right: 18px;


}

.page-header {
  padding: 0 70px;
  background-color: #FFFFFF;
}

.navigation {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  min-height: 65px;

}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
  padding-left: 12px
}

.navigation-user-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  min-width: 312px;
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

}

.navigation-link-active {
  text-decoration: underline;
  text-underline-offset: 24px;
  text-decoration-thickness: 2px;
  text-decoration-color: #756257;
}

.navigation-item {
  padding: 20px 16px;
}

.button {

  font-family: inherit;
  display: inline-block;
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button[disabled] {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.button-brown:hover,
.button-brown:focus {
  background-color: rgba(97, 80, 72, 1);
}

.button-brown:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.navigation-item-button {
  display: block;
  padding: 8px 34px;
  margin: 14px 0;
}

.navigation-user-link-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  margin: 23px 25px 23px 0;

}

.navigation-user-link-favourites {
  background-image: url("../images/favourites.svg");
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
  width: 18px;
  height: 17px;
  margin: 23px 33px 23px 0;
}

.icon-button-counter {
  position: relative;
  top: -10px;
  right: -8px;
  min-width: 20px;
  height: 20px;
  padding: 4px 5px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  line-height: 10px;
  font-size: 10px;
}

.navigation-link:not(.navigation-link-active):hover,
.navigation-link:not(.navigation-link-active):focus {
  color: rgba(117, 97, 87, 1);
}

.navigation-link:not(.navigation-link-active):active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-user-link:hover,
.navigation-user-link:focus {
  opacity: 0.6;
}

.navigation-user-link:active {
  outline-color: #000;
  opacity: 0.3;
}

.main-promo {
  min-height: 485px;
  min-width: 1200px;
  background:
    url("../images/welcome-food.svg") no-repeat 0 429px,
    url("../images/index-background.jpg") no-repeat 0;
  background-color: #82B3D3;

}

.main-promo img {
  padding-top: 50px;
  text-align: center;

}


.advantages {
  background-color: #FFFFFF;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: minmax(385px, auto);
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 64px;
}

.advantages-image {
  height: 100%;
}

.item-blue-first {
  grid-column: 1 / -1;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.item-transparent-blue {
  background: rgba(131, 179, 211, 0.12);
}

.item-transparent-blue-left {
  grid-column: 1 / 2;

}

.advantages-item-light-blue {
  grid-column: 2 / 3;
  background-color: rgba(131, 179, 211, 0.2);

}

.item-transparent-blue-right {
  grid-column: 3 / 4;


}

.item-blue-last {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-blue {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.wrapper-blue-last {
  grid-column: 3 / 4;
  padding: 102px 85px;
}

.advantages-item {
  padding: 110px 85px;

}

.item-blue-first,
.item-blue-last {
  padding: 0;
}

.wrapper-blue-first,
.wrapper-blue-last {
  padding: 102px 85px;
}

.advantages-content {
  padding: 69px 274px;
}

.advantages-title,
.privilege-title{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.advantages-description,
.privilege-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 24px;
}

.advantages-title-item {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title-item::after {
  content: ' ';
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  margin: 30px auto;
}

.advantages-title-item-white::after {
  background-color: #FFFFFF;
}

.privilege-block {
  padding: 0 274px;
}

.advantages-text-item {
  margin: 0;
  color: #333333;
}

.advantages-text-item-white {
  color: #FFFFFF;
}
.privilege-title{
  margin-bottom: 20px;
}
.privilege-description{
  margin-bottom: 59px;
}
.privilege-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 400px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.privilege-title-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}

.privilege-text-item {
  margin: 0;
  color: #333333;
}

.privilege-item-home {
  background: rgba(131, 179, 211, 0.12) url("../images/home.svg") no-repeat;
}

.privilege-item-food {
  background: rgb(255, 255, 255) url("../images/food.svg") no-repeat;
}

.privilege-item-present {
  background: rgba(131, 179, 211, 0.12) url("../images/present.svg") no-repeat;
}

.privilege-item {
  padding: 151px 81px 35px 81px;
  background-position: top 80px center;
}

.search {
  padding: 80px 304px;
  background-color: #FFFFFF
}

.search-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.search-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 54px;
  text-align: center;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  width: 276px;
  padding: 8px 50px;
}




/* Catalog */
.main-inner {
  background: #FFFFFF;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding: 0;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 8px;
  text-align: left;

}

.wrapper-inner {
  background-color: #81B3D3;
  background: url("../images/main-header.jpg") no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 0 70px;
  margin-bottom: 50px;
}


.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  margin-left: 10px;
}

.breadcrumbs-link-main {
  display: inline-block;
  background: url("../images/breadcrumbs_main.svg") no-repeat;
  width: 12px;
  height: 12px;

}

.breadcrumbs-item::before {
  content: " ";
  display: inline-block;
  background: url("../images/arrow.svg") no-repeat;
  height: 10px;
  width: 6px;
  padding-left: 10px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  opacity: 0.3;
}

.filter {
  display: flex;
  text-align: left;
}

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 32px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;

}


.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 50px;

}

.filter-item {
  padding-bottom: 16px;
}

.control-label {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 19px;
  line-height: 24px;
  cursor: pointer;
}

.control-label::before {
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.control-label::after {
  display: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/checkbox.svg");
  cursor: pointer;
}

.control-input:checked + .control-label::after {
  display: block;
}

.control-label::before,
.control-label::after {
  content: "";
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 20px;
  margin-top: 2px;
}

.control-input[type="checkbox"]:hover + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:active + .control-label::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:focus + .control-label::before {
  outline: 3px solid #83b3d3;
}

.control-input:checked + .control-label::after {
  display: block;
}

.control-input[disabled] + .control-label {
  opacity: 0.3;
}

.control-input[disabled]:hover + .control-label::before {
  background-color: #ffffff;
}


.control-input[type="radio"] + .control-label::before {
  border-radius: 50%;
}

.control-input[type="radio"] + .control-label::after {
  background-color: #3f5e72;
  background-image: none;
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.control-input[type="radio"]:hover + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:active + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-fieldset {
  border: 0;
  margin: 0;
  padding: 0;

}

.range-input {
  min-width: 143px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

.range-input:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.range-input-from {
  margin-right: -2px;
}

.range-input-to {
  border-radius: 0 4px 4px 0;
}

.range-input[type="number"] {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 0 12px 20px;
}

.range-field {
  display: inline-block;
  position: relative;
}

.range-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  right: 22px;
}

.slider {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 36px;
}

.slider-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #ffffff;
  margin-right: 60px;
}

.slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.slider-thumb:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.slider-thumb:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.slider-thumb:active {
  outline-width: 2px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.filter-button {
  flex-basis: 191px;
  align-self: flex-start;
  padding-top: 55px;
}

.button-submit {
  background: #82B3D3;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.button-reset {
  background-color: transparent;
  padding: 8px 50px;
  width: 191px;

}

.button-reset:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-reset:focus {
  background-color: transparent;
  outline: 3px solid #83B3D3;
}

.button-reset:active {
  background-color: transparent;
  opacity: 0.3;
}

.catalog-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 70px;
  margin-bottom: 40px;
}

.select-hotels {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #333333;
  width: 292px;
  min-height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 11px 20px;
  appearance: none;
  background-image: url('../images/select.svg');
  background-repeat: no-repeat;
  background-position: 258px center;
  margin: 0 70px 0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-hotels:hover,
.select-hotels:focus {
  border-color: rgba(104, 162, 202, 1);
  outline: none;
}

.select-hotels[disabled] {
  opacity: 0.3;
}

.section-title {
  margin: 0;
  padding: 0;
}

.button-view-icon {
  width: 48px;
  height: 48px;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.button-view-active {
  border-color: #000;
}

.button-view-icon:hover {
  border-color: #000;
}

.button-view-icon:not(.button-view-active):focus {
  border-color: rgba(104, 162, 202, 1);
  outline: none;
}

.button-view-icon:active {
  border-color: #000;
}


.button-cards {
  background-image: url("../images/cards.svg");
}

.button-sliders {
  background-image: url("../images/sliders.svg");
}

.button-lists {
  background-image: url("../images/list.svg");
}

.list-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 0 70px;
  margin-bottom: 40px;
}


.card {
  display: grid;
  grid-template-columns: 140px 20px 140px;
  grid-template-areas:
    "image image image"
    "title title title"
    "description description description"
    "button-detailed . button-choose"
    "star rating rating";
  row-gap: 16px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000
}

.card-img {
  display: block;
  grid-area: image;
  max-width: 300px;
}

.card-image-link {
  display: block;
  width: 300px;
}

.card-title {
  grid-area: title;
  text-align: left;
  padding: 0;
  margin: 0;
}


.card-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  grid-area: description;
}

.card-description-title {
  text-align: left;
}

.card-description-price {
  text-align: right;
}

.card-rating {
  margin: 0;
  grid-area: rating;
  display: inline;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  padding: 9px 0;
  margin-left: auto;
}



.button-detailed {
  font-family: inherit;
  grid-area: button-detailed;
  width: 140px;
  padding: 8px 0;

}

.button-choose {
  font-family: inherit;
  grid-area: button-choose;
  background-color: #82B3D3;
  width: 140px;

}

.button-active-green {
  background-color: rgba(125, 181, 79, 1);
}

.button-active-green:hover,
.button-active-green:focus {
  background-color: rgba(108, 158, 66, 1);
}

.button-active-green:active {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3);
}


.star {
  grid-area: star;
  background: url("../images/star.svg");
  background-position-y: center;
  background-repeat: repeat-x;

}

.star-five {
  width: 120px;
}

.star-four {
  width: 96px;
}

.star-three {
  width: 72px;
}

.star-two {
  width: 48px;
}

.star-one {
  width: 24px;
}

.pagination-list {
  display: flex;
  padding: 0;
  padding-top: 40px;
  border-top: 1px solid #E6E6E6;
  margin: 0 70px;
  list-style-type: none;
  margin-bottom: 60px;
  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-ellipsis {
  background-color: #FFFFFF;
  color: #000000;

}

.pagination-link-active {
  background: #F2F2F2;
  color: #000000;
}

.subscribe {
  background: #82B3D3 url("../images/subscribe.jpg") no-repeat;
  color: #FFFFFF;
  background-size: cover;
  padding: 96px 258px 104px 258px;
}

.subscribe-catalog {
  background-color: #FFFFFF;
  background-image: none;

}

.subscribe-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}


.subscribe-title-catalog {
  color: #000000;
}

.subscribe-text-catalog {
  color: #333333;

}

.subscribe-form {
  display: flex;
}

.input-field {
  background-color: #F2F2F2;
  box-sizing: border-box;
  width: 452px;
  border-radius: 4px 0 0 4px;
  border: none;
  font-weight: 400;
  padding: 14px 20px 14px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.input-field::placeholder {
  opacity: 0.6;

}


.subscribe-button {
  border-radius: 0 4px 4px 0;
  align-items: center;
  padding: 8px 50px;
  background: #82B3D3;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;


}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
  background-color: #FFFFFF;

}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  min-width: 142px;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.footer-social-item {
  display: inline-flex;

}

.image-social:hover path,
.image-social:focus path {
  fill: rgba(104, 162, 202, 1);
}

.image-social:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
  color: rgba(117, 97, 87, 1);
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);

}

.footer-developer-img:hover path,
.footer-developer-img:focus path {
  fill: rgba(117, 97, 87, 1);
}

.footer-developer-img:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Modal */

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: rgba(242, 242, 242, 0.80);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #FFFFFF;
}

.modal-date {
  box-sizing: border-box;
  width: 717px;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  padding: 64px 70px;
  text-align: left;
}

.modal-close-button {
  position: absolute;
  padding: 16px;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}

.image-close:active {
  opacity: 0.3;
}

.modal-title {
  color: #000;
  font-size: 30px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
}

.label-field {
  color: #000;
  font-size: 20px;
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.input-field-modal {
  background-color: #F2F2F2;
  box-sizing: border-box;
  border: none;
  font-weight: 700;
  color: #000000;
  width: 440px;
  padding: 12px 20px;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;
  border-radius: 4px;
}


.input-number {
  padding: 14px 10px;
  width: 31px;
  height: 48px;
  border-radius: 0;
}

.label-number {
  padding-right: 46px;
  align-self: center;
}

.search-date-button {
  width: 577px;
  padding: 18px 77px;
  border-radius: 10px;
  background: #83B3D3;
  font-size: 20px;
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.date-form-field {
  background: #F2F2F2 url("../images/date.svg") no-repeat 400px center;
}

.date-form-field::placeholder {
  font-weight: 700;
  opacity: 0.6;
}

.date-form-field:hover {
  background-color: #E6E6E6 url("../images/date.svg") no-repeat 400px center;
}

.date-form-field:focus {
  border-radius: 4px;
  outline: 3px solid #83B3D3;
  background: #E6E6E6 url("../images/date.svg") no-repeat 400px center;
}

.field-search-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 48px;
}

.field-group {
  position: relative;
}

.message {
  position: absolute;
  top: 50px;
  left: 155px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  line-height: 21px;
  color: #333;
}

.error-message {
  color: #FF5757;
}

.message-close {
  display: none;
}

.field-group-number {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.field-group-people {
  display: flex;
}

.container-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 48px;
  background-color: #F2F2F2;
  border-radius: 4px;

}

.button-plus-minus {
  border-radius: 0;
  background-color: rgba(242, 242, 242, 1);
  width: 100%;
  padding: 0;
  margin: 14px 10px;
}
.button-plus-minus:hover{
  background-color: #F2F2F2;
}

.button-plus-minus:hover path {
  fill: #000000;
  fill-opacity: 1;
}
.button-plus-minus:focus{
  border-radius: 4px;
  outline: 3px solid #82B3D3;
  background-color:rgba(242, 242, 242, 1) ;
}
.button-plus-minus:active path {
  fill-opacity: 0.2;

}
.button-plus-minus:active{
   outline: none;
}
.image-plus-minus {
  display: flex;
  flex-basis: 100%;
}

/* Tooltip */
.tooltip {
  position: relative;

}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  top: 40px;
  left: -145px;
  background-color: #333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  color: #ffffff;
  padding: 15px 18px 18px 22px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  font-weight: 400;
  width: 216px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.label-number-child {
  position: relative;
  padding-right: 43px;
  align-self: center;
}

.tooltip-icon {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
